<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/poker/PKSZ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,474},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ11.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,474},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ12.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,469},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PK001.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{54,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,61}</string>
			</dict>
			<key>res/poker/PK001-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,117},{26,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,29}</string>
			</dict>
			<key>res/poker/PK002.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1},{54,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,61}</string>
			</dict>
			<key>res/poker/PK002-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,117},{26,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,29}</string>
			</dict>
			<key>res/poker/PK003.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,57},{54,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,61}</string>
			</dict>
			<key>res/poker/PK003-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,145},{26,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,29}</string>
			</dict>
			<key>res/poker/PK004.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,57},{54,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,61}</string>
			</dict>
			<key>res/poker/PK004-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,148},{26,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,29}</string>
			</dict>
			<key>res/poker/PK005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,380},{111,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,144}</string>
			</dict>
			<key>res/poker/PK005-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,189},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>res/poker/PK009.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,380},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>res/poker/PKSZ10.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,469},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ13.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ14.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,1},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ3.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,59},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ4.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,97},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,113},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ6.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,59},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ7.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,113},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ8.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,135},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/PKSZ9.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,151},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,56}</string>
			</dict>
			<key>res/poker/XPK001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{18,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,20}</string>
			</dict>
			<key>res/poker/XPK001-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>res/poker/XPK002.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,493},{18,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,20}</string>
			</dict>
			<key>res/poker/XPK002-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,13},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>res/poker/XPK003.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,493},{18,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,20}</string>
			</dict>
			<key>res/poker/XPK003-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,25},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>res/poker/XPK004.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,493},{18,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,20}</string>
			</dict>
			<key>res/poker/XPK004-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,37},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>res/poker/XPKSZ10.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,493},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ11.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,493},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ12.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,493},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ13.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,493},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ14.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,493},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,474},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,487},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ4.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,456},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ5.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,456},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ6.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,456},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ7.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,456},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ8.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/XPKSZ9.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,21},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>res/poker/PK010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{272,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,377}</string>
			</dict>
			<key>res/poker/PK009-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,380},{92,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PokerPlist.png</string>
			<key>realTextureFileName</key>
			<string>PokerPlist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>