<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/poker/XPK006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,885},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK006-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,885},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK006-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,885},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK006-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,885},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK007.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,0},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK007-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,93},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK007-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,186},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK007-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,279},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK008.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,372},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK008-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,465},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK008-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,558},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/XPK008-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,590},{55,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>res/poker/PK006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK006-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK006-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,590},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK006-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK007.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,0},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK007-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,0},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK007-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,176},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK007-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,176},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK008.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,295},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK008-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,651},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK008-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,352},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
			<key>res/poker/PK008-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,827},{176,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,295}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Poker2Plist.png</string>
			<key>realTextureFileName</key>
			<string>Poker2Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>